/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Inter';
	font-style: normal;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.header {
	height: 80px;
	position: absolute;
	left: 0;
	top:  0;
	width: 100%;
}
.header .container, .header .row {
	height: 100%;
}
.nav {
	display: flex;
}
.nav.main-menu {
	display: flex;
	align-items: center;
}
.main-menu li {
	margin: 0 20px;
}
.main-menu li a{
	color: #fff;
	font-weight: 400;
	font-size: 15px;
}
.main_section {
	background: radial-gradient(41.27% 79.61% at 24.38% -8.01%, #3E4043 1.35%, #3E4043 12.45%, rgba(60, 62, 65, 0.931595) 20.21%, rgba(57, 59, 62, 0.866797) 26.02%, rgba(54, 56, 59, 0.768303) 36.03%, rgba(48, 50, 54, 0.612607) 51%, rgba(45, 47, 50, 0.505808) 61.05%, rgba(41, 43, 47, 0.403057) 72.34%, rgba(37, 39, 43, 0.279583) 83.02%, rgba(27, 29, 33, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #0F1011;
	height: 100vh;
}
.main_section .container , .main_section .row {
	height: 100%;
}
.main-text-box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.logo img{
	width: 100%;
	transition: all .5s ease;
	margin-bottom: 65px;
}
.logo:hover img {
	filter: brightness(.5);
}
h1 {
	font-weight: 500;
	font-size: 34px;
	letter-spacing: 3.5px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 27px;
}
.desc {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 25px;
}
.main-btn {
	background: linear-gradient(91.26deg, #920000 1.07%, #E10000 98.93%);
	border-radius: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 226px;
	width: 100%;
	height: 52px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s ease;
	margin-top: 77px;
}
.main-btn img {
	margin-left: 13px;
	transition: all .3s ease;
}
.main-btn:hover {
	letter-spacing: 0;
	background: linear-gradient(91.26deg, #E10000 1.07%, #E10000 98.93%);
}
.main-btn:focus {
	background: linear-gradient(91.26deg, #920000 1.07%, #920000 98.93%);
}
.main-btn:hover img {
	margin-left: 10px;
}
.picture-box img{
	max-height: calc(100vh - 2px);
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.social {
	margin-bottom: 30px;
}
.social img {
	transition: all .4s ease;
}
.social li a:hover img {
	transform: scale(1.1);
}
.social li{
	margin: 0 17px;
}

/*Catalog page*/
.catalog_header {
	height: 80px;
	background: #1B1D21;
}
.catalog_header .main-menu {
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-end;
}
.nav.actions {
	justify-content: flex-end;
	align-items: center;
}
.nav.actions li {
	margin: 0 15.5px;
}
.nav.actions li a {
	color: #fff;
	display: flex;
	align-items: center;
}

.nav.actions li a img{
	margin-right: 5px;
}
.banner_box {
	background: radial-gradient(95.06% 238.45% at -15.79% 94.9%, #50F4FF 0%, rgba(179, 255, 143, 0) 100%) , radial-gradient(90.13% 226.07% at 110.03% 57.8%, #EFF400 0%, rgba(0, 244, 186, 0) 78.14%) , linear-gradient(180deg, rgba(194, 195, 194, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #EAEAEA 0%, #C2C2C2 100%);
	filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.04));
	border-radius: 15px;
	margin-top: 30px;
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.banner_box .label{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5.0989px 14.022px;
	gap: 12.75px;
	width: 231.04px;
	height: 58.2px;
	background: #1F1F1F;
	border-radius: 3.82418px;
	font-weight: 900;
	font-size: 39.5165px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1.91209px;
	text-transform: uppercase;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18.8px;
}

.shop_section {
	height: calc(100vh - 80px);
	margin-top: 80px;
}
.banner_text {
	font-weight: 600;
	font-size: 23px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #1F1F1F;
}

.banner_image__box img{
	position: relative;
	bottom: -10px;
	width: 100%;
}
.secondary-btn {
	max-width: 265px;
	width: 100%;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}














